<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071335209511-p2nokl0gc7okqr0v3und110auhfrt92m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071335209511-p2nokl0gc7okqr0v3und110auhfrt92m</string>
	<key>API_KEY</key>
	<string>AIzaSyAwoeI8Yabjff9W078e-hzAdwIJJxfcARc</string>
	<key>GCM_SENDER_ID</key>
	<string>1071335209511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastshop</string>
	<key>PROJECT_ID</key>
	<string>fastshop-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fastshop-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071335209511:ios:9b5ee16a5211854a502c02</string>
</dict>
</plist>